@import "compass/css3";
@import "compass/reset";

$old-green: hsl(120,75,50);
$old-bg: hsl(120,20,18);

*{
	@include box-sizing(border-box);
}

body{
	background:#fff;
	margin: 0;
}

#console,
#dialog{
	color: hsla(120,100,50,.75);
	font-family: 'PT Mono', monospace;
	background-color: $old-bg;
	font-size: 12px;
	line-height: 1;
	padding: 10px;
	width: 604px;
	height: 374px;
	//border: 2px solid $old-green;
	margin: 59px auto 0;
	min-height: 40px;
	position: relative;
	@include text-shadow(black 1px 1px) ;
	@include box-shadow(black red 3px 3px);
	overflow: hidden; 

	@include background-image(linear-gradient(hsla(0,0,0,.3) 33%, hsla(0,0,0,.15) 33%, hsla(0,0,0,.15) 66%, hsla(0,0,0,0) 66%));
	background-size: 3px 3px;
}

#dialog{
	margin: 16px auto;
	height: 62px;
	padding: 13px 10px;
}

.accessGranted{
	position:absolute;
	top:200px;
	background:#333;
	padding:20px;
	border:1px solid #999;
	width:300px;
	left:50%;
	margin-left:-150px;
	text-align:center;
}

.accessDenied{
	position:absolute;
	top:200px;
	color:#F00;
	background:#511;
	padding:20px;
	border:1px solid #F00;
	width:300px;
	left:50%;
	margin-left:-150px;
	text-align:center;
}

#eight-bit{
	background-image: url("/key-demon.png");
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -(684px/2);
	width: 684px;
	height: 732px;
	background-repeat:no-repeat;
	//opacity: .5;
	z-index: 10;
}

#keyboard{
	height: 120px;
	width: 660px;
	background-color: hsl(60,0,80);
	margin: 100px auto 0;
	position: relative;
}

.row-one{
	position: absolute;
	top: 10px;
	left: 72px;
}

.row-two{
	position: absolute;
	top: 46px;
	left: 80px;
}

.row-three{
	position: absolute;
	top: 82px;
	left: 88px;
}

.key{
	background-color: hsl(60,10,90);
	font-family: 'PT Mono', monospace;
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
	line-height: 31px;
	padding-left: 1px;
	font-size: .9em;
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-right: 2px;
	color: hsla(0,0,0,.7);
}

.heat-5{
	background-color: hsl(0,80,70);
}

.heat-4{
	background-color: hsl(30,80,70);
}

.heat-3{
	background-color: hsl(60,80,70);
}

.heat-2{
	background-color: hsl(90,80,70);
}

.heat-1{
	background-color: hsl(120,80,70);
}

.heat-0{
	background-color: hsl(120,80,50);
}
.game-over img{
  display: none;
  position: absolute;
  z-index: 50;
  margin: 0 auto;
  left: 50%;
  margin-left: -282px;
  top: 200px;
  
}
