@import "compass/css3";
@import "compass/reset";

$old-green: hsl(120,65,50);
$old-bg: hsl(0,0,15);

body{
	background:#000000;
	margin: 0;
}

#console{
	color: $old-green;
	font-family: 'PT Mono', monospace;
	background-color: $old-bg;
	font-size: 14px;
	padding: 10px;
	width: 660px;
	border: 2px solid $old-green;
	margin: 20px auto;
	min-height: 40px;
	position: relative;

	&:after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		@include background-image(linear-gradient(hsla(0,0,15,.4) 33%, hsla(0,0,15,.2) 33%, hsla(0,0,15,.2) 66%, hsla(0,0,15,0) 66%));
		background-size: 3px 3px;
	}
}

.accessGranted{
	position:absolute;
	top:200px;
	background:#333;
	padding:20px;
	border:1px solid #999;
	width:300px;
	left:50%;
	margin-left:-150px;
	text-align:center;
}

.accessDenied{
	position:absolute;
	top:200px;
	color:#F00;
	background:#511;
	padding:20px;
	border:1px solid #F00;
	width:300px;
	left:50%;
	margin-left:-150px;
	text-align:center;
}