/* line 17, ../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, sass/style.scss */
body {
  background: #fff;
  margin: 0;
}

/* line 17, sass/style.scss */
#console,
#dialog {
  color: #20df20;
  font-family: 'PT Mono', monospace;
  background-color: #233423;
  font-size: 12px;
  line-height: 1;
  padding: 10px;
  width: 604px;
  height: 374px;
  margin: 59px auto 0;
  min-height: 40px;
  position: relative;
  text-shadow: black 1px 1px;
  -webkit-box-shadow: black red 3px 3px;
  -moz-box-shadow: black red 3px 3px;
  box-shadow: black red 3px 3px;
  overflow: hidden;
}
/* line 34, sass/style.scss */
#console:after,
#dialog:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(33%, rgba(0, 0, 0, 0.3)), color-stop(33%, rgba(0, 0, 0, 0.15)), color-stop(66%, rgba(0, 0, 0, 0.15)), color-stop(66%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3) 33%, rgba(0, 0, 0, 0.15) 33%, rgba(0, 0, 0, 0.15) 66%, rgba(0, 0, 0, 0) 66%);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.3) 33%, rgba(0, 0, 0, 0.15) 33%, rgba(0, 0, 0, 0.15) 66%, rgba(0, 0, 0, 0) 66%);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3) 33%, rgba(0, 0, 0, 0.15) 33%, rgba(0, 0, 0, 0.15) 66%, rgba(0, 0, 0, 0) 66%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 33%, rgba(0, 0, 0, 0.15) 33%, rgba(0, 0, 0, 0.15) 66%, rgba(0, 0, 0, 0) 66%);
  background-size: 3px 3px;
  background-position: 2px 1px;
}

/* line 48, sass/style.scss */
#dialog {
  margin: 16px auto;
  height: 62px;
}

/* line 53, sass/style.scss */
.accessGranted {
  position: absolute;
  top: 200px;
  background: #333;
  padding: 20px;
  border: 1px solid #999;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
}

/* line 65, sass/style.scss */
.accessDenied {
  position: absolute;
  top: 200px;
  color: #F00;
  background: #511;
  padding: 20px;
  border: 1px solid #F00;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
}

/* line 78, sass/style.scss */
#eight-bit {
  background-image: url("/key-demon.png");
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -342px;
  width: 684px;
  height: 732px;
  background-repeat: no-repeat;
  z-index: 10;
}

/* line 91, sass/style.scss */
#keyboard {
  height: 120px;
  width: 660px;
  background-color: #cccccc;
  margin: 100px auto 0;
  position: relative;
}

/* line 99, sass/style.scss */
.row-one {
  position: absolute;
  top: 10px;
  left: 72px;
}

/* line 105, sass/style.scss */
.row-two {
  position: absolute;
  top: 46px;
  left: 80px;
}

/* line 111, sass/style.scss */
.row-three {
  position: absolute;
  top: 82px;
  left: 88px;
}

/* line 117, sass/style.scss */
.key {
  background-color: #e8e8e3;
  font-family: 'PT Mono', monospace;
  font-weight: 700;
  text-align: center;
  line-height: 30px;
  font-size: .9em;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 2px;
  color: rgba(0, 0, 0, 0.7);
}
